#DrOcelotPost {
    font-family: 'Raleway', sans-serif;
    background-image: url(https://www.bestwallpapers-hd.com/web/wallpapers/thunder-cloud/2880x1800.jpg);
    background-attachment: fixed;
    background-position: center;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px black
}
#DrOcelotPostBox {
    border-left: 8px solid red;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
    border-radius: 2px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.8);
}